@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #0f0f0f;
  color: rgba(125, 225, 125, 0.75);
  font-family: "VT323", monospace;
  font-size: 25px;
  text-shadow: 0 0 5px rgba(125, 225, 125, 0.5), 0 0 15px rgba(125, 250, 125, 1);
  position: relative;
}

#scene-01,#scene-02{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
}

.scene-no-margin{
    margin: 0 !important;
}
.scene-focus{
    opacity: 100% !important;
}


#scene-01-text {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}

#scene-02-rain{
    display: block;
    width: 100%;
    height: 100%;
}

#typerBox {
  width: 80%;
  margin-left: 10%;
  height: 60%;
  margin-top: 20%;
}

.typerBox {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20%;
  }




#scene-03 .typerBox{
    padding-top: 5%;
    padding-bottom: 2%;
}


#scene-04 .glitch, #scene-04 img{
    width: 260px;
    height: 400px;
}

#scene-04 .glitch__layer {
    background-image: url(../img/Marshall_McLuhan.jpg);
}

#scene-04 .typerBox {
    padding-left: 5%;
    padding-right: 5%;
}

#scene-04 .col-12 .typerBox {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
}


.scene-buttons{
    padding-top: 3%;
    padding-bottom: 3%;
}
.scene-buttons .col{
    text-align: center;
}

.btn-matrix{
--bs-btn-color: rgba(125, 225, 125, 0.75);
--bs-btn-bg: #0f0f0f;
--bs-btn-border-color: rgba(125, 225, 125, 0.5);
--bs-btn-hover-color: rgba(125, 225, 125, 0.75);
--bs-btn-hover-bg: #424649;
--bs-btn-hover-border-color: rgba(125, 225, 125, 0.5);
--bs-btn-focus-shadow-rgb: 66,70,73;
--bs-btn-active-color: rgba(125, 225, 125, 0.75);
--bs-btn-active-bg: #4d5154;
--bs-btn-active-border-color: rgba(125, 225, 125, 0.5);
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: rgba(125, 225, 125, 0.75);
--bs-btn-disabled-bg: #0f0f0f;
--bs-btn-disabled-border-color: rgba(125, 225, 125, 0.5);
}

